@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    margin: 0;
}

.signup {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(#1e272e, #808e9b);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #808e9b;
}

.signup_container {
    border: 3px solid #a4b0be;
    border-radius: 20px;
    width: 70%;
    height: 550px;
    background-color: #d2dae2;
    min-width: 500px; 
    margin: 0 auto;
}



.signup_form {
    display: flex;
}

.signup_information {
    flex: 1;
}

.signup_account {
    flex: 1;
}


input, select {
    border: none;
    outline: none;
    border-bottom: #576574 solid 3px;
    margin: 20px;
    padding-bottom: 10px;
    width: 65%;
    background-color: transparent;
}

label, div {
    font-weight: bold;
    color: #576574;
}

.signup_header {
    padding: 3%;
    font-size: 35px;
    color: #d2dae2;
}

.form_label {
    padding-top: 5%;
    font-size: 18px;
    margin: 20px;
}

.information_label {
    font-size: 13px;
}

.vertical_seperator {
  border-left: 3px solid #576574;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 400px;
}

.create_account_button {
    margin-top: 70px;
    padding: 10px;
    width: 65%;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #d2dae2;
    background-color: #576574;
}
